
{% extends "rest_framework_swagger/base.html" %}
{% load staticfiles %}

{% block extra_nav %}
    {#% now "jS F Y H:i" %#}
    {% now "SHORT_DATETIME_FORMAT" %}
    {#% now "H:i jS F Y" %#}
{% endblock %}

{% block logo %}
    <a id="logo" href="#">
        <img class="logo__img" height="30" width="30" src="{% static 'images/favicon.ico' %}" />
        <span class="logo__title">Runur API</span>
    </a>

{% endblock %}

{% block extra_styles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon-32x32.ico' %}" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon-16x16.ico' %}" sizes="16x16" />

    <style>
        .swagger-section #header {
            background-color: #ff8200;
        }

        .swagger-section #api_selector .input {
            color: #000;
        }

        .swagger-section a.header__btn, .swagger-section #auth_container .authorize__btn {
            color: #fff;
            background-color: #b66100;
        }

        .swagger-section a.header__btn:hover, .swagger-section #auth_container .authorize__btn:hover {
            color: #fff;
            background-color: #d06b00;
        }
    </style>
{% endblock %}